**/.env
**/__pycache__
.additional_configs
**/data_historical_downloaded
cache_ducascopy
cache_dukascopy
node_modules
download
package-lock.json
package.json
.vscode
Strategies-RB30
build
dist
backtesterrb30.egg-info
env_backtester
run.sh
serve.py
_build
.venv
transfer_entropy.py

.*
!.git*

*.egg-info
__pycache__
apidocs
dist
strategies